@import url("file:///home/ppk/.config/wofi/colors.css");

* {
    outline: none !important;
    box-shadow: none !important;
}

window {
    background-color: rgba(15, 15, 15, 0.9);
    border: 2px solid var(--primary, #cba6f7);
    border-radius: 12px;
}

#input {
    visibility: hidden;
    min-height: 0px;
}

#outer-box, #inner-box, #scroll {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

flowboxchild {
    margin: 0px !important;
    padding: 10px !important;  /* Small vertical gap – set 0 for seamless */
}

#entry {
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent;
    border: none !important;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.15);
}

#img {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#text, label {
    display: none !important;
    visibility: hidden !important;
    width: 0px;
   height: 0px;
}
